body {
    background: #FFE194;
    font-family: "Montserrat", sans-serif;
}

.top-section {
    margin-top: 5rem;
}

#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}



.logo-txt-wrap {
    position: relative;
}

.logo-txt-wrap .logo {
    position: relative;
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #FFB319;
    margin: 0 auto;
}

.icon-abs {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: contain;
}

.icon-abs.obj-n {
    object-fit: none;
}

.logo-txt-wrap .est-txt {
    text-align: center;
    font-size: 14px;
    color: #666666;
    font-weight: 600;
    margin-top: 10px;
}

.heading-icon-wrap {
    display: flex;
    justify-content: space-between;
}

.top-heading {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

.social-media-icon {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.b-radius- {
    position: relative;
    background-color: #ffffff;
    margin-top: 10px;
    padding: 20px 10px;
}

.b-radius-::before {
    content: "";
    position: absolute;
    background-color: #FFB319;
    right: 0;
    left: 0;
    top: calc(100% - 10px);
    bottom: 0;
}
.b-radius- > div > div{
margin: auto;
}
.b-radius {
    background: #FFB319;
    border-radius: 50%;
    margin-right: 6px;
    height: 40px;
    width: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.b-radius i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #ffffff;
}

.dtl {
    font-size: 16px;
    color: #666666;
    font-weight: 600;
    margin-top: 8px;

}

.card-rt {
    line-height: 1.3;
}

div.card-dtt:nth-child(2) {
    color: #3a3939;
    font-weight: 600;
}

.btn-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

button.btn {
    padding: 6px 12px;
    background: #FFB319;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    color: #00000093;
}

.meeting-btn {
    padding: 6px 25px;
    background: #FFB319;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    color: #00000093;
}

a.download-link {
    padding: 8px 25px !important;
    background: #FFB319 !important;
    border: none !important;
    border-radius: 20px !important;
    font-weight: 600 !important;
    color: #00000093 !important;
}

a.download-link:hover {
    background: #FFB319 !important;
    color: #212529 !important;
}

.btn:focus {
    box-shadow: none !important;
}

.download-link:focus {
    box-shadow: none !important;
}

button.btn.download-btn {
    margin-left: 5%;
}

button.btn.url-btn {
    margin-left: auto;

}

.second-section {
    padding: 15px 0 0;
}

.common-p-wrap {
    padding: 20px 20px;
    background: #fff;
    border-radius: 10px;
    height: 100%;
}

.card-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding: 5px;
}

.img-wrap {
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: #ffffff;
}

.card-lt {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.img-abs {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.youtube-wrap {
    width: 100%;
    height: 100%;
    display: flex;
}

.youtube-link {
    min-height: 250px;
    max-height: 600px;
    height: 100%;
    width: 100%;
    align-self: center;
    border-radius: 25px;
}

.team-card-wrap {
    padding: 10px 5px;
    border: 2px solid #FFB319;
    border-radius: 10px;
}

.three-section,
.fourth-section,
.disclamer-section {
    padding: 15px 0 0;
}

.disclamier-wrap {
    padding: 25px 0;
    background: #ffffff;
    border-radius: 0 0 6px 7px;
    position: relative;
}

.disclamier-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: calc(100% - 8px);
    left: 0;
    right: 0;
    background: #FFB319;
}

p.disclamier {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    color: #101A36;
    font-weight: 500;
}

.disclamier-text {
    font-weight: 700;
    color: #000000
}

.footer-section {
    padding: 40px 0;
    background: #000000;
    margin: 50px 0 0;
}

.f-container {
    max-width: 1000px;
}

.footer-all-wrap {
    position: relative;
    margin-left: 40px;
}

.footer-all-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    right: calc(100% - -15px);
    background: #ffffff;
}

.blank-line {
    color: #FFB319;
    height: 10px;
    width: 100px;
    background-color: #FFB319;
    margin-bottom: 10px;
}

h3.title {
    font-size: 22px;
    font-weight: 700;
    color: #101A36;
}

.card-title {
    color: #101A36;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0 !important;
}


.social-icon-wrap {
    justify-content: space-between;
    max-width: fit-content;
    gap: 10px;
}

.social-icon-wrap i {
    border-radius: 50%;
    background: #8f8f8f;
    display: block;
    padding: 10px;
}

.footer-btn-wrap {
    margin: 10px 0;
}

.footer-btn-wrap button {
    padding: 5px 10px;
    font-weight: 600;
    background: #FFB319;
    border-radius: 12px;
    border: navajowhite;
}

.address-wrap .address {
    margin-top: 10px;
    color: #ffffff;
    font-weight: 600;
}

.address-wrap .copyright {
    font-size: 15px;
    font-weight: 400;
}

.address-wrap .copyright .copy-link {
    color: #002cb3;
}


@media (max-width: 575px) {
    .btn-wrap {
        flex-direction: column-reverse;
    }

    .btn-wrap button.btn {
        max-width: fit-content;
        margin: 15px auto;
        display: block;

    }

    .top-section {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .top-heading {
        flex: 1 1 100%;
        text-align: center;
        margin-top: 1rem;
    }

    .top-second-heading {
        text-align: center;
    }

    .top-section .dtl {
        text-align: center;
    }

    .free-trial-area {
        display: none !important;
        ;
    }

    .youtube-link {
        max-height: 250px;
        margin-top: 15px;

    }

}