
  .default-btn {
    border: none;
      position: relative;
      display: inline-block;
      text-align: center;
      overflow: hidden;
      z-index: 1;
      color: #ffffff;
      background-color: #ff612f;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      border-radius: 5px;
      font-weight: 500;
      font-size: 15px;
      padding: 13px 25px;
  }
  .default-btn i {
    position: absolute;
      left: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 20px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      color: #fff;
  }
  .default-btn span {
    position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #f9a33f;
      -webkit-transition: width 0.6s ease-in-out,
        height 0.5s ease-in-out;
      transition: width 0.6s ease-in-out,
        height 0.5s ease-in-out;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 5px;
  }
  .strax-nav .navbar .others-options .default-btn span {
    background-color: #ee4132;
  }
  .strax-nav .navbar .others-options .optional-btn {
    margin-left: 10px;
      color: #ffffff;
  }
  .strax-nav .navbar .others-options .optional-btn::before {
    border-color: #ffffff;
  }
  .strax-nav .navbar .others-options .optional-btn span {
    background-color: #ee4132;
  }
  .strax-nav .navbar .others-options .optional-btn:hover::before,
.strax-nav .navbar .others-options .optional-btn:focus::before {
    border-color: #ee4132;
  }
  .others-option-for-responsive .option-inner .others-options .default-btn span {
    background-color: #ee4132;
  }
  .others-option-for-responsive .option-inner .others-options .optional-btn {
    margin: 0;
      color: #ffffff;
      background-color: #ee4132;
      white-space: nowrap;
  }
  .others-option-for-responsive .option-inner .others-options .optional-btn::before {
    border-color: #ee4132;
  }
  .others-option-for-responsive .option-inner .others-options .optional-btn span {
    background-color: #f9a33f;
  }
  .others-option-for-responsive .option-inner .others-options .optional-btn:hover::before,
.others-option-for-responsive .option-inner .others-options .optional-btn:focus::before {
    border-color: #f9a33f;
  }
  .saas-banner .hero-content .default-btn i {
    color: #ff612f;
  }

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .navbar-area .container {
    max-width: 1240px;
  }
  .partner-area .container {
    max-width: 1140px;
  }
}

@-webkit-keyframes sphereSpin {

  0% {
    -webkit-transform: rotateX(360deg) rotateY(0deg);
    transform: rotateX(360deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg);
    transform: rotateX(0deg) rotateY(360deg);
  }

}

@keyframes sphereSpin {

  0% {
    -webkit-transform: rotateX(360deg) rotateY(0deg);
    transform: rotateX(360deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg);
    transform: rotateX(0deg) rotateY(360deg);
  }

}

@-webkit-keyframes rotate {

  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

@keyframes rotate {

  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

@-webkit-keyframes rotateDisc2 {

  from {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
    transform: rotateX(90deg) rotateZ(0deg);
  }

  to {
    -webkit-transform: rotateX(90deg) rotateZ(360deg);
    transform: rotateX(90deg) rotateZ(360deg);
  }

}

@keyframes rotateDisc2 {

  from {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
    transform: rotateX(90deg) rotateZ(0deg);
  }

  to {
    -webkit-transform: rotateX(90deg) rotateZ(360deg);
    transform: rotateX(90deg) rotateZ(360deg);
  }

}

@-webkit-keyframes rotateDisc3 {

  from {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
    transform: rotateY(90deg) rotateZ(0deg);
  }

  to {
    -webkit-transform: rotateY(90deg) rotateZ(360deg);
    transform: rotateY(90deg) rotateZ(360deg);
  }

}

@keyframes rotateDisc3 {

  from {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
    transform: rotateY(90deg) rotateZ(0deg);
  }

  to {
    -webkit-transform: rotateY(90deg) rotateZ(360deg);
    transform: rotateY(90deg) rotateZ(360deg);
  }

}

@-webkit-keyframes sk-bouncedelay {


  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes sk-bouncedelay {


  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes animationFramesOne {

  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

}

@-webkit-keyframes border-transform {


  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }

}

@keyframes border-transform {


  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }

}

@-webkit-keyframes moveBounce {

  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

}

@keyframes moveBounce {

  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

}

@-webkit-keyframes moveLeftBounce {

  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@keyframes moveLeftBounce {

  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@-webkit-keyframes ripple {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }

}

@keyframes ripple {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }

}

@-webkit-keyframes rotateMe {

  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

@keyframes rotateMe {

  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

@-webkit-keyframes moveScale {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes moveScale {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@-webkit-keyframes imageChange {

  0% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@keyframes imageChange {

  0% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@-webkit-keyframes imageChangeTwo {

  0% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes imageChangeTwo {

  0% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes rotateme {

  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

@-webkit-keyframes rotateme {

  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }

}

@-webkit-keyframes rotate3d {

  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

}

@keyframes rotate3d {

  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

}

@keyframes animationFramesOne {

  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

}

@-webkit-keyframes animationFramesOne {

  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

}

@-webkit-keyframes ripple-white {

  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }

  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
  }

}

@keyframes ripple-white {

  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }

  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
  }

}

@keyframes animatedBackground {

  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-350px);
  }

}

a {
  -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #ee4132;
    text-decoration: none;
    outline: 0 !important;
}

a:hover {
  text-decoration: none;
    color: #f9a33f;
}

button,
input {
  outline: 0 !important;
}

img {
  max-width: 100%;
    height: auto;
}


 

[hidden] {
  display: none;
}

#particles-js {
  width: 100%;
    height: 100%;
}

 

 


