.mobileToggle {
  display: none;
}

.show {
  display: block !important;
}

.active {
  display: block !important;
}

@media (max-width: 991px) {
  .mobileToggle {
    display: block;
    border: 0;
    background: transparent;
    width: 35px;
    height: 30px;
    position: relative;
    z-index: 5;
  }

  .mobileToggle span {
    display: block;
    height: 4px;
    background: #ee4132;
    margin-top: 3px;
    border-radius: 3px;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .meanClose {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
